.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 70%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0;   
}

.badge-primary {
    background-color: $color-secondary;
}

.badge-success {
    background-color: $color-success;
}

.badge-danger {
    background-color: $color-danger;
}