
$color-primary: #fadf1d;
$color-secondary: #ccb512;
$color-primary-light: #f7f6f0;

$color-success: #8dcc12;
$color-danger: #d8513c;

$gray-light: #666666;

$text-color: #000;


//Navbar Event
$navbar-event-bg-color: $color-primary;
$navbar-event-bg-color2: $color-primary;
$navbar-event-color: $text-color;
$navbar-event-active-color: $text-color;

//Navbar Edition
$navbar-edition-bg-color: #f7f6f0;
$navbar-edition-color: #5a5740;
$navbar-edition-active-color: #000000;
