extends ../includes/master-edition

block vars
  - var current = edition.pages.partners.file

block content
  div(class='container cf-main')
    .row
      .col
        h1.cf-title-1 #{edition.pages.partners.title}