extends ../includes/master-event

block vars
  - var activeEvent = event.pages.contact.file

block header
  +event-header(event.pages.contact)

block content
  div(class='container cf-main')
    .row
      .col
        h1.cf-title-1 #{event.pages.contact.title}