include mixin

block vars

doctype html
html(lang='pt-br')
  include head
  body
    include navbar-event
    block header
    block content
    block foot
    block scripts
      for link in scripts
        script(src=link)
    include footer
      